:root {
   --body:#d4d4d4;
   --bodybg:#252526;
   --leftbg: #1D1E22;
   --blockbg:#383838;
   --scrollbar: #252526;
   --scrollbarthumb: #3c3c3c;
   --gutterbg: #2d2d30;
   --tabbtn: #cccccc;
   --tabbtnbg: #2d2d30;
   --tabbtnhoverbg: #454545;
   --tabbtnactive: white;
   --tabbtnactivebg: #5a5a5a;
   --closebtn:white;
   --editorbg: #1e1e1e;
   --tree: #d9dbdc;
   --treeselbg: #4a5154;
   --inputbg: #555555;
   --inputbghover: #626262;
   --colorfile: #03d8fb;
   --green: #69C575;
   --darkgreen: #49a354;
   --red: #f5483c;
   --grey: #454545;
   --white: #FFFFFF;
   --btn-hover: #101b13;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: var(--scrollbar);
    cursor:pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarthumb);
    border-radius: 6px;
    border: 4px solid var(--scrollbar);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar);
}

* {
    scrollbar-color: var(--scrollbarthumb) var(--scrollbar);
    scrollbar-width: thin;
}


body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    background-color: var(--bodybg);
    font-size: 13px;
    letter-spacing: 1px;
}

fieldset {
    color: var(--body);
    padding:1em;
}
fieldset legend {
  font-size: 15px;
  padding: 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
fieldset input[type="radio"] {
  margin-right: 1em;
  margin-left: .5em;
}
fieldset input[type="button"] {
  margin-top: 1em;
}

input[type="text"],input[type="password"],input[type="email"] {
  padding: 2px 10px;
  border-radius: 4px;
  background-color: var(--inputbg);
  color: #f5f5f5;
  font-size: 1.2em;
  line-height: 1.3em;
  border: 1px solid var(--inputbg);
  outline: none;
}
input[type="text"]:focus {
  background-color: var(--inputbghover);
  border-color: var(--body);
}

input[type="button"] {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: var(--green);
  color: #f5f5f5;
  font-size: 1.2em;
  line-height: 1.5em;
  cursor: pointer;
}

a {color:#ffd12b;}


button, input[type="submit"] {
  padding: 2px 4px;
  font-size: 1em;
  line-height: 1.4em;
  border-radius: 4px;
  background-color: #69C575;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}
button:hover, input[type="submit"]:hover {
  background-color: #4ac55b;
}

button.red, input.red[type="submit"] {
  background-color: #F66459;
}
button.red:hover,  input.red[type="submit"]:hover {
  background-color: #f5483c;
}

#loader {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bodybg);
}

#loader svg {
  width: 250px;
  height: 250px;
}

#loader iframe {
  width: 550px;
  height: 350px;
  border-radius: 10px;
}

#container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
}

#left-pane {
  width: 20vw;
  height: 100%;
  overflow: auto;
  border-right: 5px solid #1e1e1e;
  background: var(--leftbg);
}

#right-pane {
    flex: 1;
    height: 100%;
}

#bottom-pane {
    flex: 1;
    overflow: auto;
}

.gutter-horizontal
{
  cursor: e-resize;
}

.gutter-vertical {
   cursor: n-resize;
 }

.gutter {
    background-color: var(--gutterbg);
    box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.15), inset 1px 0 1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#editorpane {
  height: 70vh;
}
#logpane {
  height: 30vh;
}

#editorpane, #logpane {
  display: flex;
  flex-direction: column;
}

#logpane iframe {
    width:100%;
    height:100%;
    flex-grow: 1; border: none;
}

#tabheader {
  display: flex;
  height:35px;
}

.tabbtn {
  color: var(--tabbtn);
  background-color: var(--tabbtnbg);
  position: relative;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size:14px;
  font-weight: normal;
  border-radius: 2px 2px 0 0;
  font-style: italic;
}

.closebtn {
   position:absolute;
   z-index: 10;
   color: var(--closebtn);
   visibility: hidden;
   font-size:8px;
   top:2px;
   right:2px;
   padding: 3px;
   border-radius: 2px;
}

.tabbtn:hover {
  color: var(--tabbtnactive);
  background-color: var(--grey);
}

.tabbtn:hover .closebtn, .tabbtn.active .closebtn {
  visibility: visible;
}

.closebtn:hover {
  font-weight:bolder;
}
 

.tabbtn.pined { font-style: normal;}
.tabbtn.active {
  color: var(--tabbtnactive);
  background-color: var(--tabbtnactivebg);
}

.tabbtn.modified::after {
  content: 'â—';
  display: inline-block;
  font-size: 19px;
  color: #FFF;
  position: absolute;
  z-index: 5;
  top: 2px;
  right: 2px;

}


#editors{
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100% - 25px);

}
.editorcontainer {
  height:100%;
  display: none;
 }

#editors .editor-buttons {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--blockbg);
  border-top-right-radius: 4px;
 }

 #editors .editor-buttons button {
  margin: 4px 20px;
 }

.editorcontainer textarea {
   color: white;
   background-color: var(--editorbg);
   width:100%;
   height:100%;
   border: none;
   outline: none;
   resize: none;
 };


#TreeCont {position:relative;height: 100%;}
#TreeDia{
 flex-direction: column;
 display:none;
 position:absolute;
 padding: 8px;
 border-radius: 4px;
 z-index: 100;
 background: var(--bodybg);
 border: 1px solid var(--tree);
 max-width: 400px;
}

#TreeDia ul{
 list-style-type: none;
}

#TreeDia li {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 3px 0;
  padding: 2px 4px;
  border-radius: 4px;
  transition: all .3s ease;
}

#TreeDia li:hover{
 background-color: var(--treeselbg);
 cursor: pointer;
 color: var(--white);
}


.simple-tree {
  padding: 5px;
}

.select-tree a.selected, .simple-tree details::before {
  z-index: 0;
}

.simple-tree details ,
.simple-tree details summary {
  background: var(--leftbg);
}
.simple-tree details.application {
  margin-top: 5px;
  margin-bottom: 5px;
}

.simple-tree summary ,
.simple-tree a[data-type="file"] {
  color: #FFFFFF;
}

/** Extention colors can be setted in this way */
.simple-tree a[data-type="file"][data-ext="lsp"],
.simple-tree a[data-type="file"][data-ext="lsp"],
.simple-tree a[data-type="file"][data-ext="xlua"],
.simple-tree a[data-type="file"][data-ext="preload"],
.simple-tree a[data-type="file"][data-ext="appcfg"]
{
  color: var(--colorfile);
}

.simple-tree details.application > summary {
  width: 100%;
  background:#454856;
  border-radius: 4px;
  color: #d6d6d6;
  font-weight: bold;
  padding: 2px 4px;
}

.simple-tree details.application > summary.apprunning {
  text-shadow: none;
  background:linear-gradient(90deg, var(--green) 70%, var(--darkgreen));;
  color: #FFFFFF;
} 

/* For forms */

.form {
    min-width:300px;
    max-width:500px;
    margin: 1em auto;
    border: 1px solid var(--tree);
    background: var(--blockbg);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 2px 0 var(--white);
}

.fcol, .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frow {
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-height: 20px;
    margin: 4px 0; 
}

.form input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
}

.switch {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 20px;
  margin: 4px 0;
}

.switch input[type=checkbox]{
  height: 0;
  width: 0;
  margin:0;
  visibility: hidden;
}

.switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background-color:  #ccc;
  display: block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.switch label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 18px;
    transition: 0.3s;
}

.switch input:checked + label {
    background-color: #2196F3;
}

.switch input:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.switch label:active:after {
    width: 13px;
}

.tooltip {
    position: relative;
    width: 12px;
    height: 12px;
    font-size:10px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background: var(--darkgreen);
    color:white;
}

.tooltip span{
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: -5px;
    left: 25px;
    z-index: 1;
    width:400px;
    text-align: left;
    padding: 5px;
    border: solid 1px var(--white);
    background: var(--grey); 
    color:var(--white); 
    border-radius: 4px;
}

.tooltip:hover span {
    visibility: visible;
}

.doc{
   margin: 1em;
 }
.doc > *{
   padding: 5px;
}

.menuicon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 16 16"><circle cx="8" cy="2.5" r=".8"/><circle cx="8" cy="8" r=".8"/><circle cx="8" cy="13.5" r=".8"/></svg>');
  width:25px;
  height:25px;
  position: fixed;
  right:4px;
  top:4px;
  padding: 2px 10px; 
  border-radius: 4px;
  background-color: var(--grey);
}

.menuicon:hover {
  background-color: var(--tabbtnhoverbg);
  cursor:pointer;
}

/** Styles for auth **/

